version: '3'

services:
  kbk_sql:
    build:
        context: ./sql_container
        dockerfile: Dockerfile
    image: kbk_sql_image
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kbkdatabase
      MYSQL_USER: kbkuser
      MYSQL_PASSWORD: kbkpassword
    networks:
      - kbk_network
    volumes:
      - sql-data:/var/lib/mysql
  kbk_build:
    build:
        context: ./
        dockerfile: Dockerfile
    image: kbk_service_image
    command: >
        sh -c "cd /opt/kbk/src &&
               make"
    volumes:
        - ./:/opt/kbk/
  kbk_service:
    image: kbk_service_image
    depends_on:
        - kbk_sql
        - kbk_build
    restart: always
    ports:
      - "8989:8989"
    networks:
      - kbk_network
    links:
      - kbk_sql
    command: >
        sh -c "cd /opt/kbk/area &&
               ./startup"
    volumes:
        - ./:/opt/kbk/
networks:
  kbk_network:
    driver: "bridge"

volumes:
    sql-data:
