version: '3'

services:
  kbk:
    build:
        context: ./
        dockerfile: Dockerfile
    image: kbk
    restart: always
    ports:
      - "3306"
      - "8989:8989"
    volumes:
        - ./:/opt/kbk/
        - sql-data:/var/lib/mysql

volumes:
    sql-data:
