apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
      containers:
        - name: mysql
          image: bubthegreat/kbk-sql:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kbk-sql-root-password
                  key: kbk-sql-root-password
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql

---
apiVersion: v1
kind: Secret
metadata:
  name: kbk-sql-root-password
type: Opaque
data:
  kbk-sql-root-password: a2JrLXNxbC1wYXNzd29yZA== # kbk-sql-password

---
apiVersion: v1
kind: Service
metadata:
  name: kbk-sql
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    tilt.dev/down-policy: keep
  name: mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi  # Change to your desired storage size

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kbk-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kbk
  template:
    metadata:
      labels:
        app: kbk
    spec:
      volumes:
        - name: kbk-persistent-storage
          persistentVolumeClaim:
            claimName: kbk-pvc
      containers:
        - name: kbk
          image: bubthegreat/kbk:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8989
          volumeMounts:
            - name: kbk-files
              mountPath: /kbk/localxfer
      volumes:
        - name: kbk-files
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: kbk-service
spec:
  selector:
    app: kbk
  ports:
    - port: 80
      targetPort: 8989

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kbk-tls-ingress

spec:
  rules:
    - host: kbk.bubtaylor.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kbk-service
                port:
                  number: 80

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    tilt.dev/down-policy: keep
  name: kbk-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi  # Change to your desired storage size

--- 
apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik-dashboard
spec:
  type: ClusterIP
  ports:
  - name: traefik
    port: 9000
    targetPort: traefik
    protocol: TCP
  selector:
    app.kubernetes.io/instance: traefik-kube-system
    app.kubernetes.io/name: traefik

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-ingress
  namespace: kube-system
  annotations:
    spec.ingressClassName: traefik
spec:
  rules:
    - host: traefik.bubtaylor.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: traefik-dashboard
                port:
                  number: 9000